<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='css/style.css'>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="true">
                <img src="true" alt="Logo">
                <h2>{{UserName}}</h2>
            </a>
        </div>
        <div class="nav">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="login">
            <form id="submit">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>