*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid red;
}

.navbar .logo{
    padding: 10px;
    flex: 50%;
}

.navbar .logo a{
    display: flex;
}

.navbar .nav{
    padding: 10px;
    flex: 50%;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: green;
}

footer{
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media (max-width: 770px) {
    .navbar {
      flex-direction: column;
    }
    .nav ul{
        display: block;
    }
}